:root {
    --swatch-foundation: #eeeedd;
    --swatch-primary: #f1d5d5;
    --swatch-complement: #e1e4cb;
    --swatch-contrast: #111111;
    --swatch-accent: #669966;
    --swatch-status: #561212;
    --my-font-family: "Robaaaoto";
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

#root {
    background-image: linear-gradient(to right top, #f27a0a, #dd6711, #c85514, #b14415, #9b3414, #98251f, #931528, #8c0030, #8e004c, #84006d, #671d8e, #0037ac);
    font-family: "Lexend Exa";
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#app-root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

body {
    margin: 0;
}

#splash-screen-left {
    background-image: url("https://wallpaperaccess.com/full/1127899.jpg");
    background-position: center;
    background-size: cover;
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

#splash-screen-right {
    background: linear-gradient(45deg, rgba(242,122,10,1) 0%, rgba(125,32,17,1) 35%, rgba(0,55,172,1) 100%);
    color: white;
    font-size: 4vw;
    text-align: center;
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
    overflow: hidden;
    font-family: fantasy;
}
 #splash-welcome {
     color: white;
 }

 #splash-message {
     font-size: 2vw;
     position: absolute;
     bottom: 5vw;
 }

.splash-button1 {
    font-size: 20pt;
    border-width: 5px;
    width: 20%;
    color: white;
    background-color: rgba(0,55,172,1);
    cursor: pointer;
    margin-right: 1%;
    margin-top: 5%;
    font-family: fantasy;
}

.splash-button2 {
    font-size: 20pt;
    border-width: 5px;
    width: 20%;
    color: white;
    background-color: rgba(0,55,172,1);
    cursor: pointer;
    font-family: fantasy;
}

#enhancedtable{
    margin-top: 5%;
    margin-left: 20%;
}

#toolbar{
    margin-top: 5%;
    margin-left:20%
}

#canvas {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    right:0;
    margin-right: 5%;
    margin-bottom: 3%;
   }

#editbar {
    background-color: #4B284F;
    position: absolute;
    left: 0;
    width: 20vw;
    height: 100%;
    margin-top: 3vw;
    padding: 1%;
    color: white;
}

#colorselector{
    margin-left: 2%;
    margin-right: 10%;
}

.rowC{display:flex; flex-direction:row;}

#createButtons{
    margin-top: 10%;
    position: absolute;
    left: 0
}

#userbar{
    position: absolute;
    left: 0;
    background-color: #4B284F;
    height: 100%;
    width: 250px;
}

#loginbox{
    background-color: #ffffff
}

#likefollow{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 75%;
    margin-bottom: 0.5%;
}

#pageselection{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 4%;
    margin-bottom: 0.5%;
}

#save-publish-delete{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 37%;
    margin-bottom: 0.5%;
}
